*{
	margin:0 auto;
}
#wrapper{
	width: 1160px;
	padding: 40px;
	border: 1px solid #FF0000;
	background: #FF9900;
}

#header, #footer{
	width:1158px;
	height:200px;
	border: 1px solid #000;
	background:#FFFF00;
	margin:0 40px 40px 0px;
}

#footer{
	clear:both;
	margin-bottom:0px;
}

#menu{
	width:200px;
	height:248px;
	border: 1px solid #000;
	border-bottom:0;
	background:#99CC00;
	float:left;
	margin: 0 40px 40px 0;
}

#menu ul{
	list-style:none;
	margin:0;
	padding:0;
}

#menu ul li{
	height:30px;
	border-bottom:1px solid #000;
	line-height:30px;
	background:#f00;
}

#menu ul li a{
	border-left:10px solid #EEC591;
	padding-left:10px;
	display:block;
	text-decoration:none;
}

#menu ul li a:hover{
	background:#fff;
	color: #000;
	font-weight:bold;
}

#slider{
	width:916px;
	height:248px;
	border: 1px solid #000;
	background:#FF33FF;
	float:left;
	margin-bottom: 40px;
}

.item{
	width:258px;
	height:237px;
	border: 1px solid #000;
	background:#FF33FF;
	float:left;
	margin: 0px 40px 40px 0;
}
.last{
	margin-right:0px;
}